#### Companion to the Springboard DSC <i>Group Mentoring Sessions</i> on Data Wrangling

These sessions were offered by Springboard on August 12 & 26/2023, and facilitated by AJ Sanchez, who has been a mentor with the <i>Data Science Career Track Program</i> since 2016.

Thanks to Dhara Damiana, Operations Manager with Springboard, who was in charge of the logistics.

To work on this notebook I used [Visual Studio Code](https://code.visualstudio.com/) (VS Code), which I also use in my professional work. One of the many advantages of using VS Code is that it automatically generates a clickable outline. I also created a separate [Conda Environment](https://conda.io/projects/conda/en/latest/user-guide/tasks/manage-environments.html) running [Python 3.11.0](https://www.python.org/downloads/release/python-3110/), and other packages such as [Pandas 2.0.3](https://pandas.pydata.org/docs/getting_started/install.html), [ydata-profiling 4.5.1](https://pypi.org/project/ydata-profiling/), etc. 

I used a laptop running under [Ubuntu 22.04.3 LTS](https://releases.ubuntu.com/jammy/).

<b>Disclaimer</b>:
The code presented here should not be construed as representing or coming from Springboard. This code is being shared for educational and informational purposes only, and should not be construed as professional advice. For professional Data Science and Software Engineering advice and services, please get in touch with the author of the code by sending email as indicated below.

<b>Contact</b>: AJ Sanchez (`ajs@ExodusSoftServices.com`)--Data Science Mentor.

V1: 8/25/2023

#### First Exercise:

<i>Do just what is needed to “Acquire and prepare the data for further analysis” for the dataset I shared with you via email before today. If you started to work on the wrangling of this dataset, compare your approach with the minimal approach discussed here, and consider sharing your thoughts and work with the audience.


This exercise uses the dataset `Inc 5000 Companies` available from [Kaggle](https://www.kaggle.com/datasets/mysarahmadbhat/inc-5000-companies?resource=download).

>"<i>Dataset containing information about each company on the INC 5000 list in 2019. Dataset containing information about each company on the INC 5000 list in 2019. Fields include the company name, industry, founding year, website, and location, as well as 2019 revenue, % growth, number of workers (year-over-year), and the number of years on the list.</i>"
#### 0.0 Libraries

In [1]:
import pandas as pd

#### 1.0 Get the Data from CSV file

In [2]:
file_name = './DATA/INC 5000 Companies 2019.csv'
companies_df = pd.read_csv(file_name)

#### 1.1 Row and Column Count

In [3]:
# dimensions
(n_companies, n_features) = companies_df.shape
"There are " + str(n_companies) + " companies, and " + str(n_features) + " potential features per company ..."

'There are 5012 companies, and 14 potential features per company ...'

#### 1.2 Types and Semantics

<b>Types:</b> Refer to the type of values in a column according to [Python's type system](https://docs.python.org/3/library/datatypes.html). Strictly speaking, values in a Pandas DataFrame are described by [`dtypes`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dtypes.html). See also [this reference](https://pandas.pydata.org/docs/user_guide/basics.html#basics-dtypes). Of course, `dtypes` can be mapped to Python types.

<b>Semantics:</b> Refer to the intended meaning of a value in a dataset column, and this is usually application-dependent. For instance, a value of `40.0` under column `workers` probably means the number of workers in the corresponding company.

Notice that Types and Semantics might not align according to what one would expect. For instance, values associated `workers` might be of (Python) [`string` type](https://docs.python.org/3/library/string.html)--instead of being of type [`int`](https://docs.python.org/3/library/stdtypes.html?highlight=integer#numeric-types-int-float-complex), and therefore its Pandas `dtype` would be `object`. This is the case of column `revenue` in this dataset.

In most instances, these two characteristics of the columns of a dataset can be easily inferred from: domain knowledge, column names, column values, etc. However, there might be cases for which the intended meaning of a column is not disclosed--for whatever reason, which might also be undisclosed. Whatever the case might be, Data Scientist must always work in close cooperation with domain experts and clients to determine these two characteristics.

A good practice to document the Types and Semantics of columns is to keep track of them in what is usually referred to as a <i>Data Dictionary</i>, which is simply a table with--for instance--the following columns: Column Name, Type, Semantics, Expected Values, Sample Values, and Notes. One would use the Expected Values column of the Data Dictionary to perform <i>Data Quality Checks</i> per column. The Data Dictionary might be already available from the client, so be sure to ask if it is available.

In [7]:
# take a peek at the dataset
companies_df.head(10)

,rank,profile,name,url,state,revenue,growth_%,industry,workers,previous_workers,founded,yrs_on_list,metro,city
0,1,https://www.inc.com/profile/freestar,Freestar,http://freestar.com,AZ,36.9 Million,36680.3882,Advertising & Marketing,40.0,5,2015,1,Phoenix,Phoenix
1,2,https://www.inc.com/profile/freightwise,FreightWise,http://freightwisellc.com,TN,33.6 Million,30547.9317,Logistics & Transportation,39.0,8,2015,1,Nashville,Brentwood
2,3,https://www.inc.com/profile/ceces-veggie,Cece's Veggie Co.,http://cecesveggieco.com,TX,24.9 Million,23880.4852,Food & Beverage,190.0,10,2015,1,Austin,Austin
3,4,https://www.inc.com/profile/ladyboss,LadyBoss,http://ladyboss.com,NM,32.4 Million,21849.8925,Consumer Products & Services,57.0,2,2014,1,NaN,Albuquerque
4,5,https://www.inc.com/profile/perpay,Perpay,http://perpay.com,PA,22.5 Million,18166.4070,Retail,25.0,6,2014,1,Philadelphia,Philadelphia
5,6,https://www.inc.com/profile/cano-health,Cano Health,http://canohealth.com,FL,271.8 Million,14183.4118,Health,742.0,18,2009,1,Miami,Miami
6,7,https://www.inc.com/profile/bear-mattress,Bear Mattress,http://bearmattress.com,NJ,20.5 Million,13480.7310,Consumer Products & Services,12.0,1,2014,1,New York City,Hoboken
7,8,https://www.inc.com/profile/connected-solution...,Connected Solutions Group,http://csgstore.net,VA,23.3 Million,12700.6588,Telecommunications,72.0,1,2015,1,"Richmond, VA",Mechanicsville
8,9,https://www.inc.com/profile/providence-healthc...,Providence Healthcare Management,http://providencehcm.com,OH,225.9 Million,12564.5364,Health,60.0,10,2008,1,Cleveland,Cleveland
9,10,https://www.inc.com/profile/nom,NOM,http://thisisnom.co,CA,21.4 Million,11996.2964,Advertising & Marketing,37.0,5,2014,1,Los Angeles,Los Angeles

In [8]:
# we can also see the columns in a nice format
companies_df.head(0).T

Empty DataFrame
Columns: []
Index: [rank, profile, name, url, state, revenue, growth_%, industry, workers, previous_workers, founded, yrs_on_list, metro, city]

In this particular case, it seems that it would be easy to infer the semantics from the names of the columns. This could be a good time to begin to build the data dictionary--if none is available--and then check with the client and/or domain experts the correctness of our summary, and most importantly to ask about potential semantic rules that must be checked. Examples include: zip codes, phone numbers, social security numbers, money, age, etc.

One simple way to have a quick initial idea of the types of values in a Dataframe is to use `dtypes`, which is a <i>property</i> of a `DataFrame` object.

In [9]:
# take a look at the dtypes of values in the DF
companies_df.dtypes

rank                  int64
profile              object
name                 object
url                  object
state                object
revenue              object
growth_%            float64
industry             object
workers             float64
previous_workers      int64
founded               int64
yrs_on_list           int64
metro                object
city                 object
dtype: object

Visual inspection shows that there seems to be an intuitively correct association between the expected semantics of each column and the `dtype` associated with its values. To see the difference between the Python type of an object and its Pandas' `dtype`, one would take a look at `type(x)`, where `x` is a value or a variable.

In [10]:
# for instance, the type of companies_df
type(companies_df)

pandas.core.frame.DataFrame

In [13]:
# the type of **one** value randomly selected from column 'revenue' of companies_df
# REF: https://docs.python.org/3/library/random.html
import random
type(random.choice(companies_df['revenue'].to_list()))

str

So, that randomly selected value of that column is of type [str](https://docs.python.org/3/library/stdtypes.html) (string).

Now, it is possible for a `DataFrame` column to have (Python) values of different types. Therefore, in order to check the types of all the values in a column, we could do something like this ...

In [15]:
# see the set of all types of values in column 'revenue'
# we take advantage of the fact that values in a Python set cannot
# appear multiple times in it
# REF: https://docs.python.org/3/library/stdtypes.html#set-types-set-frozenset
set([type(x) for x in companies_df['revenue']])

{str}

Therefore, all the values in the column are of type `str`. I will come back to this column later when we perform data quality checks on it.

Meanwhile, it would be nice to have a little helper function such that given any `DataFrame`, returns a `DataFrame` with all the Python types for the values of all the columns in it.

In [40]:
'''
> Inputs:

  * the_df: a DataFrame
  
> Assumptions (conditions that are required and not checked for
  the purposes of this assignment, and this is left as an exercise for the
  reader):
  
  * The parameters have the expected types
  * the_df is not empty
  
> Returns:

  * A DataFrame with the names of the columns in the_df, and
  the types associated with each column

'''
def get_types_of_df(the_df):

    # get the columns of the_df
    # they will be the columns of
    # the result to be returned by this function
    the_cols = list(the_df)

    # iterate over the set of columns to
    # compute the types of values in the column
    # keep track of them in a dict
    the_types = []
    for the_col in the_cols:
        # compute the set of types for the values in the_col
        # and save a string representation of it in the_types
        the_types += [set([type(x) for x in the_df[the_col]])]
    # end for

    # create the DataFrame and return it ... TBTG!!!
    return pd.DataFrame({'Column Name': the_cols, 'Column Type': the_types})

In [58]:
# test it first on a simple DataFrame
from datetime import date
test_df = pd.DataFrame({'A': [1, "hi", 3.0, date(2023,8, 25), None], 
                       'B': [1, None, float('nan'), 3.14926735, 2023]})
test_df

            A            B
0           1     1.000000
1          hi          NaN
2         3.0          NaN
3  2023-08-25     3.149267
4        None  2023.000000

In [59]:
# see what dtypes gives us ...
test_df.dtypes

A     object
B    float64
dtype: object

In [60]:
# test the function
types_df = get_types_of_df(test_df)
types_df

  Column Name                                        Column Type
0           A  {<class 'float'>, <class 'datetime.date'>, <cl...
1           B                                  {<class 'float'>}

In [61]:
# notice that we cannot see all the types for column 'A'
# I needed to look for a trick to solve this issue, and the
# fix is simple in this case ...
print(types_df.to_string())

  Column Name                                                                                   Column Type
0           A  {<class 'float'>, <class 'datetime.date'>, <class 'int'>, <class 'NoneType'>, <class 'str'>}
1           B                                                                             {<class 'float'>}

Notice how `None` and `float('nan')` are handled by the `DataFrame` constructor ... something to think about ... :-D

In [62]:
# test the function with the companies DF
print(get_types_of_df(companies_df).to_string())

         Column Name                       Column Type
0               rank                   {<class 'int'>}
1            profile                   {<class 'str'>}
2               name                   {<class 'str'>}
3                url                   {<class 'str'>}
4              state                   {<class 'str'>}
5            revenue                   {<class 'str'>}
6           growth_%                 {<class 'float'>}
7           industry                   {<class 'str'>}
8            workers                 {<class 'float'>}
9   previous_workers                   {<class 'int'>}
10           founded                   {<class 'int'>}
11       yrs_on_list                   {<class 'int'>}
12             metro  {<class 'float'>, <class 'str'>}
13              city                   {<class 'str'>}

Clearly our function gives us more detailed information than `dtypes`!

#### 1.3 Profiling and Tableau

<b>NOTE:</b> I will install [Pandas Profiling](https://pypi.org/project/pandas-profiling/), which is now called `ydata-profiling`, in this environment.

>`pip install ydata-profiling`

It seems that I also need to install ...

`conda install -c conda-forge ipywidgets`

In [ ]:
# from the docs ...
# https://ydata-profiling.ydata.ai/docs/master/pages/getting_started/quickstart.html
import numpy as np
import pandas as pd
from ydata_profiling import ProfileReport
#from pandas_profiling import ProfileReport

In [ ]:
profile = ProfileReport(companies_df, title="Pandas Profiling Report")

In [ ]:
profile.to_widgets()

In [ ]:
# export to HTML
profile.to_file("Companies.html")

<b>Open HTML file (`Companies.html`) in browser and let's give it a quick look</b>

<b>NOTE:</b> In many cases, it might be faster and easier to use Tableau! I am showing some views I generated with Tableau using just "drag-and-drop" operations. They are in the `DATA` folder; which is in the folder where this notebook is stored.

<img src="./Kaggle_Dataset_SUMMARY.png">

<img src="./Kaggle_Dataset_COMPANY_MAP.png">

<img src="./Kaggle_Dataset_Screenshot_INDUSTRIES.png">

#### 1.4 Checking Semantics of `revenue`

Per the type analysis discussed above ...

In [79]:
print(get_types_of_df(companies_df).to_string())

         Column Name        Column Type
0               rank    {<class 'int'>}
1            profile    {<class 'str'>}
2               name    {<class 'str'>}
3                url    {<class 'str'>}
4              state    {<class 'str'>}
5            revenue    {<class 'str'>}
6           growth_%  {<class 'float'>}
7           industry    {<class 'str'>}
8            workers  {<class 'float'>}
9   previous_workers    {<class 'int'>}
10           founded    {<class 'int'>}
11       yrs_on_list    {<class 'int'>}
12             metro    {<class 'str'>}
13              city    {<class 'str'>}

... column `revenue` contains string values, and if the semantics is that these values should a float `float` amount representing US Dollars, then this would be the approriate place to fix that (meaning, during Data Wrangling)

In [80]:
# extract the values

revenue_col = list(companies_df['revenue'])

In [81]:
# see types
set([type(x) for x in revenue_col])

{str}

In [82]:
# they are all string ...
# see one of the values
revenue_col[0]

'36.9 Million'

In [83]:
# see distinct suffixes
set([x.split(' ')[1] for x in revenue_col])

{'Billion', 'Million'}

In [86]:
# add these two new columns: revenue_amount, revenue_units
revenue_amount = [float(x.split(' ')[0].strip()) for x in revenue_col]

In [88]:
revenue_units = [x.split(' ')[1].strip() for x in revenue_col]

In [89]:
# quick stats
min(revenue_amount), max(revenue_amount), sum(revenue_amount) / (len(revenue_amount) * 1.0)

(1.0, 990.6, 31.086592178771006)

In [90]:
# and units
set(revenue_units)

{'Billion', 'Million'}

In [92]:
# add new columns to dataset
companies_df['revenue_amount'] = revenue_amount

In [95]:
companies_df['revenue_units'] = revenue_units

In [96]:
# we can check again types
companies_df[['revenue_amount', 'revenue_units']]

      revenue_amount revenue_units
0               36.9       Million
1               33.6       Million
2               24.9       Million
3               32.4       Million
4               22.5       Million
...              ...           ...
5007            15.8       Million
5008            11.6       Million
5009            29.7       Million
5010             8.8       Million
5011             4.5       Million

[5012 rows x 2 columns]

In [97]:
# check types now
print(get_types_of_df(companies_df[['revenue_amount', 'revenue_units']]).to_string())

      Column Name        Column Type
0  revenue_amount  {<class 'float'>}
1   revenue_units    {<class 'str'>}

#### 1.5 Missing Values and Some Little Useful Functions

In [69]:
# ---
# I need a function that I can use to explore missing values associated
# with a subset of a DF ... a simple one first
#
def get_percent_missing_values_sub_df(the_df, the_col, the_value):
    # 

    # get the sub DF ... if the_col is None, assume that we want to use the
    # whole DF ... the_value is ignored ...
    if the_col is None:
        # we want all columns
        sub_df = the_df
    else:
        # the_col can be a string (name of column), or a list of strings (subset of columns)
        # in the first case, we expect a value to compare the values of the column against
        # in the second case, we do not need a value, and the_col should be a list of names,
        # which can have only one name
        sub_df = the_df.loc[the_df[the_col] == the_value] if the_value is not None else the_df[the_col]
    # end if

    # build the_result_df with number of missing values of sub_df
    # get dimensions
    (n_rows, n_cols) = sub_df.shape
    the_result_df = pd.DataFrame({'Raw Feature Name': list(sub_df),
                                  'Percent Missing Values': (sub_df.isnull().sum() * 100.0 / n_rows).to_list()})
    # sort it descendently before returning
    the_result_df.sort_values('Percent Missing Values', inplace=True, ascending=False)

    # that's it ... return the result
    return n_rows, n_cols, the_result_df

In [70]:
# test it with companies_df
n_rows, n_cols, the_result_df = get_percent_missing_values_sub_df(the_df=companies_df, 
                                                                  the_col=None, 
                                                                  the_value=None)

In [72]:
# see the result
the_result_df

    Raw Feature Name  Percent Missing Values
12             metro               16.221069
8            workers                0.019952
0               rank                0.000000
1            profile                0.000000
2               name                0.000000
3                url                0.000000
4              state                0.000000
5            revenue                0.000000
6           growth_%                0.000000
7           industry                0.000000
9   previous_workers                0.000000
10           founded                0.000000
11       yrs_on_list                0.000000
13              city                0.000000

In [73]:
'''
> Inputs:

  * the_df: a DataFrame
  * the_col: the name of a column in the_df
  
> Assumptions (conditions that are required and not checked for
  the purposes of this assignment):
  
  * The parameters have the expected types
  * the_df is not empty
  * the_col is a column in the_df
  * the string value returned has a "reasonable" length
  * the condition above is implied by this condition:
    the length of the_df[the_col] "reasonable"
  
> Returns:

  * A string indicating the number of NaN values in the_df[the_col],
    a  list of distinct values in the column, and the types of these
    values

'''
def col_status(the_df, the_col):
    
    # form the string and return it
    col_vals = the_df[the_col]
    the_string =  'Missing: ' + str(col_vals.isna().sum())
    the_string += ' // ' + 'Distinct Values: ' + str(col_vals.unique())
    the_string += ' // ' + 'Types: ' + str(set([type(x) for x in col_vals]))
    
    # that's it ... TBTG!!!
    return the_string

In [107]:
# see what the function shows for 'metro'
print(col_status(companies_df, 'metro'))

Missing: 0 // Distinct Values: ['Phoenix' 'Nashville' 'Austin' 'UNKNOWN' 'Philadelphia' 'Miami'
 'New York City' 'Richmond, VA' 'Cleveland' 'Los Angeles' 'Denver'
 'Washington, DC' 'Seattle' 'Atlanta' 'San Diego' 'Boise City-Nampa, ID'
 'San Francisco' 'Provo-Orem, UT' 'Tampa' 'Raleigh, NC' 'Madison, WI'
 'Detroit' 'Houston' 'Dallas' 'Allentown-Bethlehem-Easton, PA-NJ'
 'Minneapolis' 'Birmingham, AL' 'Boston' 'Cincinnati' 'Baltimore'
 'Kansas City, MO-KS' 'San Jose' 'Chicago'
 'Louisville/Jefferson County, KY-IN' 'Columbus, OH' 'St. Louis, MO-IL'
 'Bridgeport-Stamford-Norwalk, CT' 'San Antonio, TX' 'Inland Empire, CA'
 'Las Vegas, NV' 'Indianapolis, IN' 'Orlando, FL'
 'Omaha-Council Bluffs, NE-IA' 'Virginia Beach' 'Lancaster, PA'
 'Pittsburgh, PA' 'Charleston, SC' 'Jacksonville, FL' 'Salt Lake City'
 'Milwaukee' 'Charlotte' 'Oklahoma City, OK' 'Des Moines, IA'
 'Boulder, CO' 'Columbia, SC' 'Rochester, NY' 'Huntsville, AL'
 'Baton Rouge, LA' 'Sacramento, CA' 'Santa Barbara-Santa Maria-Goleta, CA'
 'Albany-Schenectady-Troy, NY' 'New Orleans' 'Ogden-Clearfield, UT'
 'Ann Arbor, MI' 'Sarasota-Bradenton-Venice, FL'
 'Greenville-Mauldin-Easley, SC' 'Tulsa, OK' 'Asheville, NC' 'Durham, NC'
 'Springfield, MO' 'Oxnard-Thousand Oaks-Ventura, CA'] // Types: {<class 'str'>}

In [76]:
# > Inputs:
# 
# * the_df: a DataFrame
#
# * the_col: column name in the_df
#
# * the_rep_dict: dictionary that describes the replacements (x -> y), where
#   x is in the set of values of the_df[the_col], and also in 
#   the set of keys of the_rep_dict, and viceversa--except when x is NaN
# 
# * nan_val: value that is used to replace NaN in the_df[the_col], if
#   there are any
#
# > Assumptions (conditions that are required and not checked for
# the purposes of this assignment):
#
# * The parameters have the expected types
# * the_df is not empty
# * the_col is a column in the_df
# * the set of keys of the_rep_dict is equals to the set of values 
#   in the_df[the_col] that are not NaN
# * nan_val is not NaN
# * It seems natural to assume that NaN is not in the set of 
#   values of the_rep_dict
#
# > Returns:
# 
# * unique_vals_list: an iterable object that contains all unique values in
#   the_df[the_col]
# * type_vals_list: a set with the types of values in the_df[the_col]
# * n_nan: the number of NaN values in the_df[the_col]
#
def replace_vals_in_df(the_df, the_col, the_rep_dict, nan_val):
    # 
    # first replace the values that are not NaN
    # skip if the_rep_dict is empty
    if len(the_rep_dict) != 0:
        the_df[the_col].replace(the_rep_dict, inplace=True)
    # end if
    
    # now replace the NaN values if there are any
    if the_df[the_col].isna().sum() != 0:
        the_df[the_col] = the_df[the_col].fillna(nan_val)
    # end if
    
    # collect returning values
    unique_vals_list = the_df[the_col].unique()
    type_vals_list = set([type(x) for x in unique_vals_list])
    n_nan = the_df[the_col].isna().sum()
    
    # that's it ... TBTG!!!
    return unique_vals_list, type_vals_list, n_nan

In [77]:
# see how to fix the NaNs by substituting it by 'UNKNOWN'
unique_vals_list, type_vals_list, n_nan = replace_vals_in_df(the_df=companies_df, 
                                                            the_col='metro', 
                                                            the_rep_dict={}, 
                                                            nan_val='UNKNOWN')

In [78]:
unique_vals_list, type_vals_list, n_nan

(array(['Phoenix', 'Nashville', 'Austin', 'UNKNOWN', 'Philadelphia',
        'Miami', 'New York City', 'Richmond, VA', 'Cleveland',
        'Los Angeles', 'Denver', 'Washington, DC', 'Seattle', 'Atlanta',
        'San Diego', 'Boise City-Nampa, ID', 'San Francisco',
        'Provo-Orem, UT', 'Tampa', 'Raleigh, NC', 'Madison, WI', 'Detroit',
        'Houston', 'Dallas', 'Allentown-Bethlehem-Easton, PA-NJ',
        'Minneapolis', 'Birmingham, AL', 'Boston', 'Cincinnati',
        'Baltimore', 'Kansas City, MO-KS', 'San Jose', 'Chicago',
        'Louisville/Jefferson County, KY-IN', 'Columbus, OH',
        'St. Louis, MO-IL', 'Bridgeport-Stamford-Norwalk, CT',
        'San Antonio, TX', 'Inland Empire, CA', 'Las Vegas, NV',
        'Indianapolis, IN', 'Orlando, FL', 'Omaha-Council Bluffs, NE-IA',
        'Virginia Beach', 'Lancaster, PA', 'Pittsburgh, PA',
        'Charleston, SC', 'Jacksonville, FL', 'Salt Lake City',
        'Milwaukee', 'Charlotte', 'Oklahoma City, OK', 'Des Moines, IA',
        'Boulder, CO', 'Columbia, SC', 'Rochester, NY', 'Huntsville, AL',
        'Baton Rouge, LA', 'Sacramento, CA',
        'Santa Barbara-Santa Maria-Goleta, CA',
        'Albany-Schenectady-Troy, NY', 'New Orleans',
        'Ogden-Clearfield, UT', 'Ann Arbor, MI',
        'Sarasota-Bradenton-Venice, FL', 'Greenville-Mauldin-Easley, SC',
        'Tulsa, OK', 'Asheville, NC', 'Durham, NC', 'Springfield, MO',
        'Oxnard-Thousand Oaks-Ventura, CA'], dtype=object),
 {str},
 0)

In [106]:
# also
print(col_status(companies_df, 'metro'))

Missing: 0 // Distinct Values: ['Phoenix' 'Nashville' 'Austin' 'UNKNOWN' 'Philadelphia' 'Miami'
 'New York City' 'Richmond, VA' 'Cleveland' 'Los Angeles' 'Denver'
 'Washington, DC' 'Seattle' 'Atlanta' 'San Diego' 'Boise City-Nampa, ID'
 'San Francisco' 'Provo-Orem, UT' 'Tampa' 'Raleigh, NC' 'Madison, WI'
 'Detroit' 'Houston' 'Dallas' 'Allentown-Bethlehem-Easton, PA-NJ'
 'Minneapolis' 'Birmingham, AL' 'Boston' 'Cincinnati' 'Baltimore'
 'Kansas City, MO-KS' 'San Jose' 'Chicago'
 'Louisville/Jefferson County, KY-IN' 'Columbus, OH' 'St. Louis, MO-IL'
 'Bridgeport-Stamford-Norwalk, CT' 'San Antonio, TX' 'Inland Empire, CA'
 'Las Vegas, NV' 'Indianapolis, IN' 'Orlando, FL'
 'Omaha-Council Bluffs, NE-IA' 'Virginia Beach' 'Lancaster, PA'
 'Pittsburgh, PA' 'Charleston, SC' 'Jacksonville, FL' 'Salt Lake City'
 'Milwaukee' 'Charlotte' 'Oklahoma City, OK' 'Des Moines, IA'
 'Boulder, CO' 'Columbia, SC' 'Rochester, NY' 'Huntsville, AL'
 'Baton Rouge, LA' 'Sacramento, CA' 'Santa Barbara-Santa Maria-Goleta, CA'
 'Albany-Schenectady-Troy, NY' 'New Orleans' 'Ogden-Clearfield, UT'
 'Ann Arbor, MI' 'Sarasota-Bradenton-Venice, FL'
 'Greenville-Mauldin-Easley, SC' 'Tulsa, OK' 'Asheville, NC' 'Durham, NC'
 'Springfield, MO' 'Oxnard-Thousand Oaks-Ventura, CA'] // Types: {<class 'str'>}

The function can be used to deal with multiple substitutions within a column through the parameter `the_rep_dict`

#### 1.6 How would you code a Python class that you can use to make `GET` API calls in a wide variety of projects that require the use of REST APIs to acquire datasets?

When acquiring data from providers that expose them through [REST APIs](https://aws.amazon.com/what-is/restful-api/) one can easily drown in repetitious code, which can become very difficult to maintain.

I once worked for a Sports Analytics start-up that acquired most of their data through a provider called [Sportradar](https://developer.sportradar.com/) who exposes their data through a REST API.

For instance, information associated with the (so-called) Daily Boxscore, of all the [MLB](https://www.mlb.com/) games played in a scheduled game of a season, is exposed through a `GET` [API call](https://developer.sportradar.com/docs/read/baseball/MLB_v7_with_Statcast#daily-boxscore). For those not familiar with US Baseball, the boxscore of a game is the "<i>Inning-by-inning scoring breakdown, top-level runs, hits and errors by team, as well as details on run-scoring events</i>"--as described by Sportradar.

The code below exemplifies how an object of such class can be instantiated, and then be used to make the `GET` call through an instance method of the class.

A common practice across many data providers is that the results returned after a successful `GET` API call are represented using the [JSON format](https://www.json.org/json-en.html).

The specific class shell that I am sharing with you has a method called `make_get_request_paginated(api_end_point, object_name)` which requires the indicated parameters, where `api_end_point` contains the string associated with the `GET` API endpoint of interest (in this case, the one associated with getting the Boxscore of a game), and `object_name` is a string that defines the component from the response that one wants to extract.

Notice the following:

* The information associated with the credentials needed to use the API are encapsulated in a configuration file, the name of which is passed to the constructor of the class. When credentials are stored in a configuration file, they are usually kept unencrypted, which is better than hard-coding them in the source code. But the best practice is to use a service such as [AWS Secret Manager](https://docs.aws.amazon.com/secretsmanager/latest/userguide/retrieving-secrets.html), which keeps the secret encypted.


* Support for [exception](https://docs.python.org/3/tutorial/errors.html) and error handling, as well as [logging](https://docs.python.org/3/howto/logging.html) must also be implemented.


* The class takes into account `GET` requests that use pagination, which means that several calls might be needed to get the complete information associated with an endpoint. Typically, a loop is implemented to get the information while there are more pages to be served, and all the information is collected and returned by the method.

In [ ]:
# example of use of class XXX_API_V2_GET_Caller

# create object: constuctor can raise the ValueError exception
# config file has the required credentials (non-encrypted)
# best practice: use something like AWS Secret Manager instead
# REF: https://docs.aws.amazon.com/secretsmanager/latest/userguide/retrieving-secrets.html
config_file_name = 'XXX_config.txt'
try:
    XXX_api_v2_get_caller = XXX_API_V2_GET_Caller(config_file_name, DEBUG=False)
except ValueError as e:
    logging.debug(f'An error occurred: {e}')
    # raise error again so it is caught by the global exception handler
    # which will log the error and decide whether to exit the application
    raise

# the API endpoint is associated with the type of information we
# want to get    
api_end_point = XXX

# the object name defines the component from the
# call result we are interestes in
object_name = XXX

# use method make_get_request_paginated
# to make the call ... in this case, we
# know that the API uses pagination to return their
# results--meaning: one has to make several calls to
# get all the results of a request ... these details
# are encapsulated in the implementation of the class
message, xxx_json = xxx_api_v2_get_caller.make_get_request_paginated(api_end_point, object_name)

# check if the call was OK
# if xxx_json is None something happened
# and message should have the info explaining
# what happened
if xxx_json is None:
	# the call did not go as planned so there
	# log the error mesage
	log_critical_event(message)
else:
    # we are interested in the object associated with key object_name
    xxx_entries_list = xxx_json[object_name]

    # we are assuming that we have some function that
    # takes the result and processes it
    process_result(xxx_entries_list)
# end if-else

Below is the class "shell" I am sharing with you. This means that the code cannot be used as-is. However, you can use the code to guide you in the implementation of your own class--and I hope it will be useful :-D

I encourage you to adapt it so you can use it in the "API Mini-Project".

In [ ]:
# ********************************************************************************
#
# RESOURCES
# 
# ********************************************************************************

# OS and JSON support
import os
import json

# request library
# https://github.com/psf/requests
# https://requests.readthedocs.io/en/latest/
import requests

# to read a dict from config file
import ast

# needed to define a global exception handler
import sys
import traceback

# typing notation
from typing import Tuple
from typing import Union
from typing import Dict

# for logging
import logging




class XXX_API_V2_GET_Caller:
    '''
    PURPOSE:
    This class creates an object that can implement any GET request
    to the XXX API V2.
    REF: https://...
    '''

    # class constants: private to this class
    __AUTH = None           # XXX token
    __ACCOUNT = None        # XXX account_id
    __headers = None        # Used in the API call
    __BASE_URL = None       # Used in the API call
    # info about XXX API authentication expected to be
    # in the configuration file
    __expected_keys = None

    # constructor
    def __init__(self, config_file_name:str, DEBUG:bool=False) -> None:
        '''
        PURPOSE:
        Creates a new object using information in the file
        named by config_file_name.

        Args:
            config_file_name: ditto

        Raises:
            ValueError: if config_file does not exist in the same folder where the code is, OR
            if the value in the file is not well-formed, OR the value in the file does not
            contain exactly the columns named per private constant __expected_keys
           
        '''

        # get info from config_file_name, uses private helper class __get_credentials
        XXX_API_V2_GET_Caller.__expected_keys = ['XXX_account_id', 'XXX_token'] 
        message, config_dict = self.__get_credentials(config_file_name,  XXX_API_V2_GET_Caller.__expected_keys)

        # check if there were any errors; if such, raise an exception
        if config_dict is None:
            raise ValueError(message)
        
        # all OK, set the values of class constants
        XXX_API_V2_GET_Caller.__AUTH = config_dict['XXX_token']
        XXX_API_V2_GET_Caller.__ACCOUNT = config_dict['XXX_account_id']
        XXX_API_V2_GET_Caller.__headers = {
            "User-Agent": "Trying XXX Python API (XXX@XXX.com)",
            "Authorization": "Bearer " + XXX_API_V2_GET_Caller.__AUTH,
            "XXX-Account-ID": XXX_API_V2_GET_Caller.__ACCOUNT}
        XXX_API_V2_GET_Caller.__BASE_URL = 'https://api.XXXapp.com/v2/'

        if DEBUG:
            print('[__init__]\n\t __AUTH: ' + str(XXX_API_V2_GET_Caller.__AUTH) + \
                  '\n\t __ACCOUNT: ' + str(XXX_API_V2_GET_Caller.__ACCOUNT))
        # end if

        

    def __get_credentials(self, config_file_name: str, expected_keys: list[str]) -> Tuple[str, Dict[str, str]]:
        '''
        PURPOSE:
        Helper function that tries to read the value of a dict stored
        in file config_file_name, and such value is expected to have 
        the keys given by expected_keys, which is a list of names.

        V8 (XX/XX/XXXX): the config file might have additional keys than
        the ones in expected_keys. The condition has been relaxed so
        that for the purposes of this function, expected_keys
        should be a *subset* of the set of keys in the config file.

        ERRORS:
        * config_file_name does not exist
        * config_file_exists, but the contents of the file is not a valid dict value
        * config_file_exists, the contents of the file is a valid dict value, but the
        keys in this dict are not the ones in expected_keys

        RETURNS: 
        A pair message, dict with values according to:
        * if there are errors, the message indicates the error, and the dict is None
        * if there are no errors, the message is the empty string, and the dict is the value in the file
        '''

        # check if config_file_name exists in the current directory
        # if it does not exist, return message, None; where the message
        # explains that the file does not exist

        # get current dir
        current_dir = os.getcwd()

        # check if file exists
        the_path = os.path.join (current_dir, config_file_name)
        if  os.path.exists (the_path) == False:
            # file does not exist, return message and None
            message = '[Constructor of class XXX_API_GET_Caller]: file '
            message += config_file_name + ' does not exist in current directory: '
            message += current_dir
            return message, None
        # end if

        # at this point, we know that config_file_name exists in current directory

        # try to get the info
        # use exception handling to read the config_file_name
        # should try to set config_dict after reading the config_file_name file
        with open(config_file_name) as dict_contents:
            try:
                config_dict = ast.literal_eval(dict_contents.read())
            except (ValueError, SyntaxError, Exception) as e:
                message = '[__get_credentials] Issues reading the contents of config file: ' + \
                          config_file_name + ' ... ' + str(e.msg)
                return message, None

        # V8: check if the keys in the dict are a super-set of the
        # expected keys (iff set_expected_keys is contained in set_actual_keys)
        set_expected_keys = set(expected_keys)
        set_actual_keys = set(config_dict.keys())
        if set_expected_keys.issubset(set_actual_keys) == False:
             message = '[__get_credentials] ERROR: expected keys are: '
             message += str(set_expected_keys)
             message += '; and actual keys are: ' + str(set_actual_keys)
             message += '; expected keys must me a SUBSET of actual keys ...'
             return message, None
        # end if
        
        # no issues at this point ... return '' and the config_dict read
        return '', config_dict

    # end __get_credentials

    # some simple getters to be used to test class
    def get_auth(self) -> str:
        return self.__AUTH
    
    def get_account(self)-> str:
        return self.__ACCOUNT
    
    def get_base_url(self) -> str:
        return self.__BASE_URL
    
    def get_headers(self) -> str:
        return self.__headers
    
    def make_get_request(self, api_end_point: str) -> Tuple[str, Dict[str, str]]:
        '''
        PURPOSE:
        This method attempts to make a GET call to api_end_point

        RETURNS:
        A message indicating whether or not there were errors in the call (empty if no errors),
        and a dict that represents the JSON object returned by the request
        when there are no errors (None if there are errors)

        '''

        # set url
        url = self.__BASE_URL + api_end_point

        # make a GET call with url and consider possible errors
        try:
            # get the response object
            response = requests.request("GET", url, headers=self.__headers)
            # rise an exception as indicated by response.status_code
            response.raise_for_status()
        except requests.exceptions.HTTPError as e:
            message  = f'An error occurred: {e}'
            message += f' ... Status code: {response.status_code}'
            message += f' ... Response: {response.text}'
            return message, None
        except requests.exceptions.RequestException as e:
            message = f'Response: {response.text}'
            return message, None
        except Exception as e:
            message = f'Response: {response.text}'
            return message, None
        # end try-except

        # all is well, return no message and the JSON dict associated
        # with response
        return '', response.json()
    
    # end make_get_request
    
    def make_get_request_paginated(self, 
                                   api_end_point: str,
                                   object_name: str) -> Tuple[str, Dict[str, str]]:
        '''
        PURPOSE:
        Attempts to make a GET request for the given api_end_point, and if all goes
        well, it returns a pair (message, dict), where message is the empty string, and
        dict is a dictionary, that has just one key, which must be equals to object_name,
        and the value of this key must be a list of JSON objects, captured over all the
        pages associated with api_end_point.

        This method repeatedly calls make_get_request to get each individual page associated with this
        request.

        If there are any errors--all of which are handled by method make_get_request--the
        returned pair (message, dict) is such that message contains a description of the
        error, and dict is None.

        NOTE: when this method is called with an api_end_point that does not use pagination
        by definition (for instance https://...)
        then this method will behave in exactly the same way as method  make_get_request(self, api_end_point) does,
        and thus argument 'object_name' is ignored.
        '''

        # method body

        # make the first call to determine:
        # (a) if an error occurs with the first call
        # (b) if there are no errors, and there are no
        # multiple pages to process
        # (c) if there are no errors, and there are
        # multiple pages to process

        first_message, first_response_json = self.make_get_request(api_end_point)

        # case (a): some error in the first request
        if len(first_message) != 0:
            return first_message, None
        # end case (a)

        # case (b): no errors and two subcases to consider
        TOTAL_PAGES = 'total_pages'
        # NOTE: per the documentation ...
        #
        # " XXX"
        #
        # ref: https://...
        
        # case (b.1): the api_end_point does not use pagination at all
        # (see the NOTE) at the beginning of this method
        # in this case, we just return what self.make_get_request(api_end_point)
        # has returned
        if TOTAL_PAGES not in first_response_json.keys():
            return '', first_response_json
        #end of case (b.1)

        # case (b.2): the api_end_point does use pagination, but the total number
        # pages is 1. In this case, we need to return the portion of first_response_json
        # associated with object_name
        # NOTE: I use str(first_response_json[TOTAL_PAGES]) below, because I am not sure what is the type
        # of the expression
        if TOTAL_PAGES in first_response_json.keys() and str(first_response_json[TOTAL_PAGES]) == '1':
            # prepare the object to return
            object_reponse_dict = {}
            object_reponse_dict[object_name] = first_response_json[object_name]
            return '', object_reponse_dict
        # end of case (b.2)

        # case (c): there are no errors and the total number of pages is recorded
        # in first_response_json[TOTAL_PAGES] and it is not equals to '1'
        #
        # try to convert first_response_json[TOTAL_PAGES] to int
        try:
            total_pages = int(first_response_json[TOTAL_PAGES])
        except ValueError as e:
            message = '[make_get_request_paginated] Rare Error: exception raised when trying to convert total_pages field '
            message += TOTAL_PAGES + ' of response to this GET api_call: ' + api_end_point + ' offending value is: '
            message += str(first_response_json[TOTAL_PAGES])
            return message, None
        # end try-catch block

        # total_pages contains the number of pages to be retrieved and must be greater than 1
        # initialize variables before the loop
        # to keep track of pages ... add first page
        # NOTE: the logic below would work even when the total number of
        # pages is 1, since the loop would be skipped and the method would
        # return the expected value
        LINKS = 'links'
        NEXT = 'next'
        # ref: https://...
        current_response_json  = first_response_json
        response_list = current_response_json[object_name]
        for n_pages in range(2, total_pages + 1):
            # get URL from current_response_json
            next_url = current_response_json[LINKS][NEXT]
            # get api_end_point to call make_get_request(self, api_end_point: str)
            # next_url is expected to have a structure such as
            # "https://...",
            # so the api_end_point should be the second component of the split of next_url and self.__BASE_URL
            api_end_point = next_url.split(self.__BASE_URL)[1]
            # make a call with this api_end_point
            message, current_response_json = self.make_get_request(api_end_point)
            # check if there are errors
            if len(message) != 0:
                error_message = '[make_get_request_paginated] ' + message
                return error_message, None
            # end if
            # all is well ... TBTG!!!
            # add current page's response to response_list
            response_list += current_response_json[object_name]
            # continue iteration--if any
        # end for

        # return dict with all the pages currently in response_list
        object_reponse_dict = {}
        object_reponse_dict[object_name] = response_list
        return '', object_reponse_dict
    
        # end case (c)

    # end make_get_request_paginated ...TBTG!!!

# end class XXX_API_GET_Caller ... TBTG!!!